*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header, .navlist, main, .work, .other-work, .footer{
  display: flex;
  flex-direction: row;
}

h1, h2, h3, h4, h5, h6{
  font-family: Garamond, serif;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.25rem;
  color: black;
  background-color: #fff4ef;
}

main{
  color: black;
}

a{
  text-decoration: none;
  color: black;
}
/* ---------- Header ---------- */
header{
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: #d6bda9;
  justify-content: space-between;
  align-items: center;
}

header nav, header nav .navlist li, header nav .navlist li a{
  display: block;
}

header h1{
  font-size: 4rem;
  margin: 0 15px;
}

.navlist{
  list-style-type: none;
  gap: 20px;
  margin: 0 15px;
  font-size: 1.5rem;
}
.navlist li{
  height: 5rem;
  line-height: 5rem;
}

.navlist li a{
  padding-left: 15px;
  padding-right: 15px;
}

/* ---------- About Me Section ---------- */
.main-section{
  display: flex;
  flex-direction: column;
}

img{
  margin: 10px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

#about{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#about h2{
  font-size: 4rem;
  text-wrap: nowrap;
  margin-right: 15px;
}

.paragraphs{
  margin: 15px;
  line-height: 1.5rem;
}

.paragraphs a{
  background-color:#fde3c6;
}

/* ---------- Work Section ---------- */
main h2{
  font-size: 4rem;
}

main{
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
}

.work{
  justify-content: space-around;
  align-items: flex-end;
}

#work1img h3{
  font-size: 3rem;
  color: black;
  text-shadow: 0 0 5px turquoise;
  display: flex;
  position: absolute;
}

.other-work{
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.work2, .work3{
  font-size: 2rem;
  color: black;
  text-shadow: 0 0 5px turquoise;
  position: absolute;
}

.imgs{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.other-work h2{
  opacity: 0%;
  cursor: default;
}

#work1img a, #work2img a, .work1 h3 a, .work2 a, #work3img a{
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  opacity: 100%;
}

#work1img{
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 600px;
  background-image: url("../images/mountains.jpg");
  background-size: cover;
  border: 5px solid #eac5b4;
}

#work2img{
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  background-image: url("../images/bridge.jpg");
  background-size: cover;
  border: 5px solid #eac5b4;
}

#work3img{
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  background-image: url("../images/sand.jpg");
  background-size: cover;
  border: 5px solid #eac5b4;
}

/* ---------- Footer ---------- */
footer{
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: #d6bda9;
  justify-content: space-around;
  align-items: center;
}

footer h2{
  font-size: 2rem;
}

footer, .dropdown, .socials, .socials a, .github, .github a{
  display: block;
}

.dropdown, .socials, .github{
  height: 4rem;
  line-height: 4rem;
}

.socials a, .github a{
  padding-left: 15px;
  padding-right: 15px;
  background-color: #d6bda9;
}

/* ---------- Social Media Footer Button ---------- */
.dropbtn{
  background-color: #d6bda9;
  color: black;
  border: none;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.socials{
  display: none;
  position: absolute;
  background-color: #d6bda9;
  width: 100%;
  z-index: 1;
  bottom: 16rem;
}

.socials a, .github a, .navlist li a{
  text-decoration: none;
  color: black;
  display: block;
}

/* ---------- Hovers ---------- */

#work1img:hover{opacity: 50%;}
#work2img:hover{opacity: 50%;}
#work3img:hover{opacity: 50%;}
.navlist li a:hover{background-color: #fde3c6}
.github a:hover{background-color: #fde3c6;}
.socials a:hover{background-color: #fde3c6;}
.dropdown:hover .socials{display: block;}
.dropdown:hover .dropbtn{background-color: #fde3c6;}
.dropdown:hover {background-color: #fde3c6;}

/* ---------- Media Queries ---------- */
@media screen and (max-width: 1200px) {
  #about{
    flex-direction: column;
  }

  img{
    width: 25%;
    height: 25%;
  }

  .work{
    flex-direction: column;
    align-items: center;
  }

  #work1img, .work, .work1{
    width: 99%;
    margin: 0 auto;
  }

  .other-work h2{
    display: none;
  }

  .imgs{
    flex-direction: column;
    gap: 0;
  }

  .other-work, #work2img, #work3img, .imgs{
    width: 99%;
    margin: 10px auto;
    height: 300px;
  }

  #work1img h3, .work2, .work3{
    font-size: 150%;
  }
}

@media screen and (max-width: 800px){
  header{
    flex-direction: column;
    height: 10%;
  }

  .navlist li a{
    text-wrap: nowrap;
    font-size: 1.25rem;
  }

  h1 a{
    font-size: 100%;
    text-wrap: nowrap;
  }

  #about h2, .work h2{
    font-size: 2rem;
  }

  .paragraphs p{
    font-size: 1rem;
  }

  .footer{
    height: 20%;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    display: flex;
  }

  .footer h2{
    font-size: 2rem;
    padding: 5px;
  }

  body{
    font-size: 1rem;
  }

  .dropdown, .socials, .github{
    height: 1.5rem;
    line-height: 1.5rem;
  }

  .socials{
    bottom: 6rem;
    border: 1px solid #fff4ef;
  }

  .socials a{
    border-left: 1px solid #fff4ef;
    border-right: 1px solid #fff4ef;
  }
}


